<!DOCTYPE html>

{% load static %}

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Obaju e-commerce template">
    <meta name="author" content="Ondrej Svestka | ondrejsvestka.cz">
    <meta name="keywords" content="">

    <meta name="keywords" content="">

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>

    <!-- styles -->
    <link href="{% static "obaju/css/font-awesome.css" %}" rel="stylesheet"/>
    <link href="{% static "obaju/css/bootstrap.min.css" %}" rel="stylesheet"/>
    <link href="{% static "obaju/css/animate.min.css" %}" rel="stylesheet"/>
    <link href="{% static "obaju/css/owl.carousel.css" %}" rel="stylesheet"/>
    <link href="{% static "obaju/css/owl.theme.css" %}" rel="stylesheet"/>

    <!-- theme stylesheet -->
    <link href="{% static "obaju/css/style.default.css" %}" rel="stylesheet" id="theme-stylesheet"/>

    <!-- your stylesheet with modifications -->
    <link href="{% static "obaju/css/custom.css" %}" rel="stylesheet"/>

    <!-- giving scripts -->



    <!-- <script src="{% static "obaju/js/respond.min.js" %}" type="text/javascript"></script> -->
    <script src="{% static "obaju/js/respond.min.js" %}" type="text/javascript"></script>

    <link rel="shortcut icon" href="{% static "favicon.png" %}"/>



</head>

<body>

    <!-- *** TOPBAR ***-->
    <div id="top">
        <div class="container">
            {% if user and not user.is_anonymous %}

            <div class="col-md-6 offer" data-animate="fadeInDown">
            <a href="#" class="btn btn-success btn-sm" data-animate-hover="shake">Regalo del día</a>  <a href="#"> Bienvenido a obsequia {{ user.username }} !</a>
            </div>
            <div class="col-md-6" data-animate="fadeInDown">
                <ul class="menu">
        			<li> <a href="/"> Inicio </a>
                    </li>
        			<li> <a href="/obsequiar/">Obsequia</a>
                    </li>
        			<li> <a href="/my_notifications/">Notificaciones</a>
                    </li>
        			<li> <a href="/profile/">Perfil</a>
        			</li>
        			<li> <a href="/cerrar_sesion/">Cerrar sesión</a>
                    </li>
                </ul>
            </div>

            {% else %}

            <div class="col-md-6 offer" data-animate="fadeInDown">
        		<a href="/registrate/" class="btn btn-success btn-sm" data-animate-hover="shake">Registrate</a>
        		<a href="#">Bienvenido a obsequia!</a>
            </div>
            <div class="col-md-6" data-animate="fadeInDown">
                <ul class="menu">
        			<li><a href="/ingreso/">Login</a>
                    </li>
        			<li><a href="/">Inicio</a>
                    </li>
        			<li><a href="/registro/">Registrate</a>
                </ul>
            </div>

            {% endif %}

        </div>



    </div>

    <!-- *** TOP BAR END *** -->

    <!-- *** NAVBAR *** -->

    <div class="navbar navbar-default yamm" role="navigation" id="navbar">
        <div class="container">
            <div class="navbar-header">

                <a class="navbar-brand home" href="index.html" data-animate-hover="bounce">
        		<img src="{% static " images/regalos.jpg" %}" alt="Obsequia logo" class="hidden-xs" width="90px" height=-"25%">
                    <img src="img/logo-small.png" alt="Obaju logo" class="visible-xs"><span class="sr-only">Obsequia - ir a la página de inicio</span>
                </a>
                <div class="navbar-buttons">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                        <span class="sr-only">Navegación</span>
                        <i class="fa fa-align-justify"></i>
                    </button>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#search">
                        <span class="sr-only">Busqueda</span>
                        <i class="fa fa-search"></i>
                    </button>
                    <a class="btn btn-default navbar-toggle" href="postulaciones.html">
                        <i class="fa fa-shopping-cart"></i>  <span class="hidden-xs">Mis postulaciones</span>
                    </a>
                </div>
            </div>
            <!--/.navbar-header -->

            <div class="navbar-collapse collapse" id="navigation">

                <ul class="nav navbar-nav navbar-left">
        			<li class="active">
        				<a href="/">Inicio</a>
                    </li>
                    <li class="dropdown yamm-fw">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover = "dropdown" data-delay="200">Categorías<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">
        							{% for category in categories %}
                                        <div class="col-sm-3">
        								<h5>{{ category.name_category }}</h5>
    									{% for subcategory in subcategories %}
                                            <ul>
    										{% if subcategory.category.id == category.id %}
    										<li><a href="/post_coincidentes/?busqueda={{subcategory.name_subcategory}}">{{ subcategory.name_subcategory }}</a>
    										</li>
    										{% endif %}
                                            </ul>
    									{% endfor %}
                                        </div>
    								{% endfor %}
                                    </div>
                                </div>
                                <!-- /.yamm-content -->
                            </li>
                        </ul>
                    </li>
    				<li class="unactive"><a href="/quienes_somos">Quienes somos</a>
                    </li>
    				<li class="unactive"><a href="/contacto">Contacto</a>
                    </li>


                </ul>

            </div>
            <!--/.nav-collapse -->

            <div class="navbar-buttons">

                <div class="navbar-collapse collapse right" id="basket-overview">
                    <a href="basket.html" class="btn btn-primary navbar-btn"><i class="fa fa-shopping-cart"></i><span class="hidden-sm">Mis postulaciones</span></a>
                </div>
                <!--/.nav-collapse -->

                <div class="navbar-collapse collapse right" id="search-not-mobile">
                    <button type="button" class="btn navbar-btn btn-primary" data-toggle="collapse" data-target="#search">
                        <span class="sr-only">Busqueda</span>
                        <i class="fa fa-search"></i>
                    </button>
                </div>

            </div>

        <!--
        <form action="/obsequiemos/obsequiar/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
        -->

            <div class="collapse clearfix" id="search">

	        <form action="/post_coincidentes/" method="get" enctype="multipart/form-data" class="navbar-form" role="search">
                <div class="input-group">
    				<input name="busqueda" type="text" class="form-control" placeholder="buscar obsequios">
                    	<span class="input-group-btn">

    					<button type="submit" class="btn btn-primary"><i class="fa fa-search" ></i></button>
	        </form>

		    </span>
                   </div>
            </form>

            </div>
            <!--/.nav-collapse -->

        </div>
        <!-- /.container -->
    </div>
    <!-- /#navbar -->

    <!-- *** NAVBAR END *** -->



    <div id="all">
                    <!-- CONTENT -->
            {% block main %}

            {% endblock %}



        <!-- *** FOOTER *** -->
        <div id="footer" data-animate="fadeInUp">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
				        <h4>Páginas</h4>

				            <ul>
				        		<li><a href="/quienes_somos">Acerca de nosotros</a>
				                </li>
				    			<li><a href="/faq">FAQ</a>
				                </li>
				            </ul>

				            <hr>

				            	<h4>Sección de usuario</h4>

				            <ul>
				    			<li><a href="/ingreso/">Login</a>
				                </li>
				        		<li><a href="/registro/">Registrate</a>
				                </li>
				            </ul>

				            <hr class="hidden-md hidden-lg hidden-sm">

                    </div>
                    <!-- /.col-md-3 -->

                    <div class="col-md-3 col-sm-6">

        				<h4>Top categorías</h4>

                        <ul>
    						<li><a href="/">Poleras</a>
                            </li>
        					<li><a href="/">Pantalones</a>
                            </li>
        					<li><a href="/">Calzados</a>
                            </li>
        					<li><a href="/">Accesorios</a>
                            </li>
        					<li><a href="/">Deportes</a>
                            </li>
                        </ul>

                        <hr class="hidden-md hidden-lg">

                    </div>
                    <!-- /.col-md-3 -->

                    <div class="col-md-3 col-sm-6">

				        <h4>Contáctenos</h4>

                        <p><strong>Obsequiemos!</strong>
                            <br>contacto@obsequiemos.cl
                            <br>Santiago
                            <br>Chile
                        </p>

				    	<a href="/contacto">Ir a la página de contacto</a>

				        <hr class="hidden-md hidden-lg">

                    </div>
                    <!-- /.col-md-3 -->



                    <div class="col-md-3 col-sm-6">

                        <h4>Recibe las novedades!</h4>

                        <p class="text-muted">Suscribete y podras recibir avisos a tu mail  de regalos que te interesen!</p>

                        <form>
                            <div class="input-group">

                                <input type="text" class="form-control">

                                <span class="input-group-btn">

			    				<button class="btn btn-default" type="button">Subscribete!</button>

								</span>

                            </div>
                            <!-- /input-group -->
                        </form>

                        <hr>

					    <h4>Aprovecha nuestras redes sociales</h4>

	                        <p class="social">
	                            <a href="#" class="facebook external" data-animate-hover="shake"><i class="fa fa-facebook"></i></a>
	                            <a href="#" class="twitter external" data-animate-hover="shake"><i class="fa fa-twitter"></i></a>
	        					<!--
	                            <a href="#" class="instagram external" data-animate-hover="shake"><i class="fa fa-instagram"></i></a>
	                            <a href="#" class="gplus external" data-animate-hover="shake"><i class="fa fa-google-plus"></i></a>
	                            <a href="#" class="email external" data-animate-hover="shake"><i class="fa fa-envelope"></i></a> 
	        					-- >
	                        </p>


                    </div>
                    <!-- /.col-md-3 -->

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#footer -->

        <!-- *** FOOTER END *** -->




        <!-- *** COPYRIGHT *** -->
        <div id="copyright">
            <div class="container">
                <div class="col-md-6">
			        <p class="pull-left">© 2017 Obsequiemos!</p>

                </div>
                <div class="col-md-6">
                    <p class="pull-right">Obsequiemos nuestros objetos que no utilizemos en nuestros hogares a quién más lo necesite!</a>
                        <!-- Not removing these links is part of the licence conditions of the template. Thanks for understanding :) -->
                    </p>
                </div>
            </div>
        </div>
        <!-- *** COPYRIGHT END *** -->



    </div>
    <!-- /#all -->


    

    <!-- *** SCRIPTS TO INCLUDE *** -->
    <script src="{% static "obaju/js/jquery-1.11.0.min.js" %}" type="text/javascript"></script>
    <script src="{% static "obaju/js/bootstrap.min.js" %}" type="text/javascript"></script>
    <script src="{% static "obaju/js/jquery.cookie.js" %}" type="text/javascript"></script>
    <script src="{% static "obaju/js/waypoints.min.js" %}" type="text/javascript"></script>
    <script src="{% static "obaju/js/modernizr.js" %}" type="text/javascript"></script>
    <script src="{% static "obaju/js/bootstrap-hover-dropdown.js" %}" type="text/javascript"></script>
    <script src="{% static "obaju/js/owl.carousel.min.js" %}" type="text/javascript"></script>
    <script src="{% static "obaju/js/front.js" %}" type="text/javascript"></script>
    <script src="{% static "obaju/js/obsequiemos-ajax.js" %}" type="text/javascript"></script>


</body>

</html>