{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block main %}

<head>
    <title>Obsequiemos!</title>
</head>

<div id="content">

    <div class="container">

        <div class="col-md-12">

                    <ul class="breadcrumb">
                        <li><a href="/">Inicio</a>
                        </li>
                        <li><a href="#">Mis obsequios</a>
                        </li>
                        <li>{{ gift.name }}</li>
                    </ul>

                </div>

                <div class="col-md-3">
                    <!-- *** CUSTOMER MENU ***
 _________________________________________________________ -->
                    <div class="panel panel-default sidebar-menu">

                        <div class="panel-heading">
                            <h3 class="panel-title">Sección usuario</h3>
                        </div>

                        <div class="panel-body">

                            <ul class="nav nav-pills nav-stacked">
                                <li class="active">
                                    <a href="customer-orders.html"><i class="fa fa-list"></i> Mis obsequios</a>
                                </li>
                                <li>
                                    <a href="customer-wishlist.html"><i class="fa fa-heart"></i> Mis postulaciones</a>
                                </li>
                                <li>
                                    <a href="customer-account.html"><i class="fa fa-user"></i> Mi cuenta</a>
                                </li>
                                <li>
                                    <a href="index.html"><i class="fa fa-sign-out"></i> Cerrar sesión</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!-- /.col-md-3 -->

                    <!-- *** CUSTOMER MENU END *** -->
                </div>

                <div class="col-md-9" id="customer-order">
                    <div class="box">
                        <h1>{{ gift.name }}</h1>

                        <p class="lead">{{ gift.name }} el obsequio fue confirmado el <strong>07/11/2016</strong> y actualmente esta en <strong> proceso de despacho</strong>.</p>
                        <p class="text-muted">Si tienes alguna consulta, por favor sientase libre de <a href="/contacto">contactarnos</a>, nuestros soporte esta trabajando 24/7 para ti.</p>

                        <hr>

                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th colspan="2">Obsequio</th>
                                        <th>Nombre</th>
                                        <th>Categoría</th>
                                        <th>Subcategoría</th>
                                        <th>Tiempo de uso</th>
                                        <th>Estado obsequio</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <a href="#">
                                                <img src="img/detailsquare.jpg" alt={{ gift.category.ame_category }}>
                                            </a>
                                        </td>
                                        <td><a href="#">{{ gift.name }}</a>
                                        </td>
                                        <td>{{ gift.name }}</td>
                                        <td>{{ gift.category.name_category }}</td>
                                        <td>{{ gift.subcategory.name_subcategory }}</td>
                                        <td>{{ gift.cant_used_time}} {{ gift.used_time_type.time_type }}</td>
                                        <td>{{ gift.state_type.state_type }} </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                <!--
                                    <tr>
                                        <th colspan="5" class="text-right">Order subtotal</th>
                                        <th>$446.00</th>
                                    </tr>
                                    <tr>
                                        <th colspan="5" class="text-right">Shipping and handling</th>
                                        <th>$10.00</th>
                                    </tr>
                                    <tr>
                                        <th colspan="5" class="text-right">Tax</th>
                                        <th>$0.00</th>
                                    </tr>
                                    <tr>
                                        <th colspan="5" class="text-right">Total</th>
                                        <th>$456.00</th>
                                    </tr>
                                    -->
                                </tfoot>
                            </table>

                        </div>
                        <!-- /.table-responsive -->

                        <div class="row addresses">
                            <div class="col-md-6">
                                <h2>Dirección despacho</h2>
                                <p>{{ post.comuna }}
                                    <br>{{ post.provincia }}
                                    <br>{{ post.region }}
                                    <br>Chile
                                    <br><h4>Opciones despacho: </h4>
                                    {% if post.person2person_dispatch == True %}
                                    <li>
                                        Entrega en persona
                                    </li>
                                    {% endif %}
                                    {% if post.pay_winner_dispatch == True %}
                                    <li>
                                        Ganador paga despacho
                                    </li>
                                    {% endif %}
                                    {% if post.giver_pay_dispatch == True %}
                                    <li>
                                        Obsequiador paga despacho
                                    </li>
                                    {% endif %}
                                    {% if post.according_to_winner_dispatch == True %}
                                    <li>
                                        A acordar con el obsequiador
                                    </li>
                                    {% endif %}
                                </p>

                            </div>
                            <div class="col-md-6">
                                <h2>Datos de contacto</h2>
                                <p>{{ post.user_post.first_name }} {{ post.user_post.last_name }}
                                    <br>{{ post.user_post.email }}
                                    <br>+569 {{ profile.phone }}
                                    <br><h4>Tipo obsequiador:</h4> {{ profile.type_user.user_type }}
                                    <br><h4>Reputación promedio (0 al 7):</h4> {{ profile.avg_reputation }}
                                    <br><h4>Fecha de registro:</h4> {{ profile.register_date }}</p>
                            </div>
                        </div>

                        <div class="evaluacion" id="evaluacion">
                            <form action="/post/{{ post.id }}/evaluacion/" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <p class="lead"><strong>Evaluar obsequiador (0 al 7)</strong></p>
                                <label for="alto">Nota:</label>
                                {{ evaluation_form.avg_reputation|add_class:"form-control" }}
                                {{ evaluation_form.avg_reputation.errors }}
                                <br>
                                <div class="row">
                                    <div class="text-center">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-envelope-o"></i> Calificar obsequiador</button>

                                    </div>
                                </div>
                            </form>


                        </div>

                    </div>
                </div>

            </div>
            <!-- /.container -->


</div>




{% endblock %}